In [1]:
from datetime import date as dt
import pandas as pd
import numpy as np
import os
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import os.path
import io

In [2]:
raiders_data = pd.read_csv("raiders.csv")
raiders_data = pd.DataFrame(raiders_data)
raiders_data.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Points,Points.1,...,Def Rank.1,Overall Rank,Overall Rank.1,Overall Rank.2,Overall Rank.3,Simple Rating System,Simple Rating System.1,Simple Rating System.2,Simple Rating System.3,Simple Rating System.4
0,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,NFL,Los Angeles Raiders,9,7,0,3rd of 5,NaN,303,327,...,10,22,15,14,28,-1.5,-0.1,-1.6,-1.9,0.3
3,1993,NFL,Los Angeles Raiders*,10,6,0,2nd of 5,Lost Div,306,326,...,9,18,18,10,28,-1.3,0.6,-0.7,1.1,-1.7
4,1992,NFL,Los Angeles Raiders,7,9,0,4th of 5,NaN,249,281,...,9,28,15,14,28,-2.0,0.4,-1.6,-3.2,1.5

In [8]:
# Getting first (0th) row of the "Unnamed: 0" col
raiders_data.loc[0, 'Unnamed: 0']

'Year'

# Fixing Column Names

In [11]:
# fixnig columns names
raiders_data.rename(columns = {'Unnamed: 0':raiders_data.loc[0,'Unnamed: 0']})

,Year,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Points,Points.1,...,Def Rank.1,Overall Rank,Overall Rank.1,Overall Rank.2,Overall Rank.3,Simple Rating System,Simple Rating System.1,Simple Rating System.2,Simple Rating System.3,Simple Rating System.4
0,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,NFL,Los Angeles Raiders,9,7,0,3rd of 5,NaN,303,327,...,10,22,15,14,28,-1.5,-0.1,-1.6,-1.9,0.3
3,1993,NFL,Los Angeles Raiders*,10,6,0,2nd of 5,Lost Div,306,326,...,9,18,18,10,28,-1.3,0.6,-0.7,1.1,-1.7
4,1992,NFL,Los Angeles Raiders,7,9,0,4th of 5,NaN,249,281,...,9,28,15,14,28,-2.0,0.4,-1.6,-3.2,1.5
5,1991,NFL,Los Angeles Raiders*,9,7,0,3rd of 5,Lost WC,298,297,...,21,11,15,24,28,0.1,1.3,1.4,0.3,1.1
6,1990,NFL,Los Angeles Raiders*,12,4,0,1st of 5,Lost Conf,337,268,...,4,14,9,13,28,4.3,2.2,6.6,2.2,4.4
7,1989,NFL,Los Angeles Raiders,8,8,0,3rd of 5,NaN,315,297,...,10,16,13,16,28,1.1,0.7,1.8,0.0,1.9
8,1988,NFL,Los Angeles Raiders,7,9,0,3rd of 5,NaN,325,369,...,19,12,18,21,28,-2.8,-0.8,-3.6,-0.3,-3.3
9,1987,NFL,Los Angeles Raiders,5,10,0,4th of 5,NaN,301,289,...,5,16,11,3,28,0.8,-0.8,0.0,-1.6,1.7
10,1986,NFL,Los Angeles Raiders,8,8,0,4th of 5,NaN,323,346,...,3,24,18,6,28,-1.4,1.6,0.2,0.0,0.2
11,1985,NFL,Los Angeles Raiders*,12,4,0,1st of 5,Lost Div,354,308,...,4,24,9,5,28,2.9,1.5,4.3,0.7,3.7
12,1984,NFL,Los Angeles Raiders*,11,5,0,3rd of 5,Lost WC,368,278,...,3,27,6,5,28,5.6,1.2,6.9,2.1,4.8
13,1983,NFL,Los Angeles Raiders*,12,4,0,1st of 5,Won SB,442,338,...,4,23,5,2,28,6.5,0.3,6.8,5.1,1.7
14,1982,NFL,Los Angeles Raiders*,8,1,0,1st of 5,Lost Div,260,200,...,22,5,6,16,28,6.7,-1.5,5.2,6.1,-0.9

In [12]:
raiders_data.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Points,Points.1,...,Def Rank.1,Overall Rank,Overall Rank.1,Overall Rank.2,Overall Rank.3,Simple Rating System,Simple Rating System.1,Simple Rating System.2,Simple Rating System.3,Simple Rating System.4
0,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,NFL,Los Angeles Raiders,9,7,0,3rd of 5,NaN,303,327,...,10,22,15,14,28,-1.5,-0.1,-1.6,-1.9,0.3

In [10]:
raiders_data.loc[0,raiders_data.columns[28]]

'DSRS'

In [13]:
# range function specifies the amount of time to run the loop for col number
for i in range(raiders_data.shape[1]):
    col = raiders_data.columns[i]
    raiders_data.rename(columns = {col: raiders_data.loc[0,col]}, inplace = True)
    
raiders_data.head(5)

,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
0,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,NFL,Los Angeles Raiders,9,7,0,3rd of 5,NaN,303,327,...,10,22,15,14,28,-1.5,-0.1,-1.6,-1.9,0.3
3,1993,NFL,Los Angeles Raiders*,10,6,0,2nd of 5,Lost Div,306,326,...,9,18,18,10,28,-1.3,0.6,-0.7,1.1,-1.7
4,1992,NFL,Los Angeles Raiders,7,9,0,4th of 5,NaN,249,281,...,9,28,15,14,28,-2.0,0.4,-1.6,-3.2,1.5