In [1]:
from datetime import date as dt
import pandas as pd
import numpy as np
import os
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import os.path
import io

In [2]:
raiders_data = pd.read_csv("raiders.csv")
raiders_data = pd.DataFrame(raiders_data)
raiders_data.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Points,Points.1,...,Def Rank.1,Overall Rank,Overall Rank.1,Overall Rank.2,Overall Rank.3,Simple Rating System,Simple Rating System.1,Simple Rating System.2,Simple Rating System.3,Simple Rating System.4
0,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,NFL,Los Angeles Raiders,9,7,0,3rd of 5,NaN,303,327,...,10,22,15,14,28,-1.5,-0.1,-1.6,-1.9,0.3
3,1993,NFL,Los Angeles Raiders*,10,6,0,2nd of 5,Lost Div,306,326,...,9,18,18,10,28,-1.3,0.6,-0.7,1.1,-1.7
4,1992,NFL,Los Angeles Raiders,7,9,0,4th of 5,NaN,249,281,...,9,28,15,14,28,-2.0,0.4,-1.6,-3.2,1.5

In [3]:
# Getting first (0th) row of the "Unnamed: 0" col
raiders_data.loc[0, 'Unnamed: 0']

'Year'

# Fixing Column Names

In [4]:
raiders_data.loc[0,raiders_data.columns[28]]

'DSRS'

In [5]:
# range function specifies the amount of time to run the loop for col number
for i in range(raiders_data.shape[1]):
    col = raiders_data.columns[i]
    raiders_data.rename(columns = {col: raiders_data.loc[0,col]}, inplace = True)

# getting rid of the first 2 rows
raiders_data.drop([raiders_data.index[0], raiders_data.index[1]], inplace = True)

raiders_data.head(5)

,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
2,1994,NFL,Los Angeles Raiders,9,7,0,3rd of 5,NaN,303,327,...,10,22,15,14,28,-1.5,-0.1,-1.6,-1.9,0.3
3,1993,NFL,Los Angeles Raiders*,10,6,0,2nd of 5,Lost Div,306,326,...,9,18,18,10,28,-1.3,0.6,-0.7,1.1,-1.7
4,1992,NFL,Los Angeles Raiders,7,9,0,4th of 5,NaN,249,281,...,9,28,15,14,28,-2.0,0.4,-1.6,-3.2,1.5
5,1991,NFL,Los Angeles Raiders*,9,7,0,3rd of 5,Lost WC,298,297,...,21,11,15,24,28,0.1,1.3,1.4,0.3,1.1
6,1990,NFL,Los Angeles Raiders*,12,4,0,1st of 5,Lost Conf,337,268,...,4,14,9,13,28,4.3,2.2,6.6,2.2,4.4

# Fixing other NFL datasets

In [6]:
chargers_data = pd.read_csv('chargers.csv')
rams_data = pd.read_csv('rams.csv')

# Chargers Data

In [7]:
# range function specifies the amount of time to run the loop for col number
for i in range(chargers_data.shape[1]):
    col = chargers_data.columns[i]
    chargers_data.rename(columns = {col: chargers_data.loc[0,col]}, inplace = True)

# getting rid of the first 2 rows
chargers_data.drop([chargers_data.index[0], chargers_data.index[1]], inplace = True)

chargers_data.head(5)

,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
2,2022,NFL,Los Angeles Chargers,2,2,0,2nd of 4,NaN,92,108,...,20,8,22,11,32,-4.0,-0.7,-4.7,-5.6,0.9
3,2021,NFL,Los Angeles Chargers,9,8,0,3rd of 4,NaN,474,459,...,23,19,16,9,32,0.9,0.2,1.1,5.3,-4.2
4,2020,NFL,Los Angeles Chargers,7,9,0,3rd of 4,NaN,384,426,...,10,13,20,9,32,-2.6,-0.3,-2.9,-1.0,-2.0
5,2019,NFL,Los Angeles Chargers,5,11,0,4th of 4,NaN,337,345,...,6,31,16,5,32,-0.5,-0.8,-1.3,-1.6,0.3
6,2018,NFL,Los Angeles Chargers*,12,4,0,2nd of 4,Lost Div,428,329,...,9,15,7,6,32,6.2,-0.2,6.0,3.0,2.9

# Rams Data

In [8]:
# range function specifies the amount of time to run the loop for col number
for i in range(rams_data.shape[1]):
    col = rams_data.columns[i]
    rams_data.rename(columns = {col: rams_data.loc[0,col]}, inplace = True)

# getting rid of the first 2 rows
rams_data.drop([rams_data.index[0], rams_data.index[1]], inplace = True)

rams_data.head(5)

,Year,Lg,Tm,W,L,T,Div. Finish,Playoffs,PF,PA,...,Yds,T/G,Pts±,Yds±,out of,MoV,SoS,SRS,OSRS,DSRS
2,2021,NFL,Los Angeles Rams*,12,5,0,1st of 4,Won SB,460,372,...,17,13,6,12,32,5.2,0.1,5.3,4.2,1.1
3,2020,NFL,Los Angeles Rams*,10,6,0,2nd of 4,Lost Div,372,296,...,1,21,10,1,32,4.8,0.7,5.4,-0.8,6.2
4,2019,NFL,Los Angeles Rams,9,7,0,3rd of 4,NaN,394,364,...,13,15,12,8,32,1.9,2.0,3.9,2.2,1.7
5,2018,NFL,Los Angeles Rams*,13,3,0,1st of 4,Lost SB,527,384,...,19,4,3,3,32,8.9,-0.4,8.5,9.5,-1.1
6,2017,NFL,Los Angeles Rams*,11,5,0,1st of 4,Lost WC,478,329,...,19,9,3,10,32,9.3,-0.2,9.2,8.2,1.0